/*========
	mv
========*/
.mv {
  width: 100%;
  margin-top: 12rem;
  margin-bottom: 10rem;
}
@media screen and (max-width: 768px) {
  .mv {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}
.mv__video {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.mv__video video {
  width: 100%;
}
.mv__video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

/*========
	news
========*/
.news {
  width: 100%;
  background-color: #222;
  padding: 8rem 0;
}
@media screen and (max-width: 768px) {
  .news {
    padding: 4rem 2rem;
  }
}
.news .sub-heading {
  color: #eeeeee;
  display: flex;
}
.news .sub-heading .collapse-button {
  margin-left: auto;
}
.news-wrap ul li {
  display: flex;
  margin: 2rem 0;
}
.news-wrap ul li p {
  color: #eee;
  display: block;
}
.news-wrap ul li p:first-child {
  margin-right: 3rem;
}

/*========
	special
========*/
.special {
  margin-top: 10rem;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .special {
    margin-top: 3rem;
    padding: 0 2rem;
  }
}
.special .under-background {
  background-image: url(../images/assets/content/img_special_content00.jpg);
  width: 100%;
  height: 90rem;
  left: 0;
  top: 35rem;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .special .under-background {
    top: 10rem;
  }
}
.special .heading {
  padding: 3rem 0;
  color: #383640;
}
.special .wrap-3 li .wrap-title .title {
  margin-bottom: 1.5rem;
}
.special .wrap-3 li:nth-child(1) {
  margin-top: 12rem;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .special .wrap-3 li:nth-child(1) {
    margin: 2rem 0 2rem 0;
  }
}
.special .wrap-3 li:nth-child(2) {
  margin-top: 6rem;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .special .wrap-3 li:nth-child(2) {
    margin: 2rem 0 2rem 0;
  }
}
@media screen and (max-width: 768px) {
  .special .wrap-3 li {
    margin: 2rem 0 2rem 0;
  }
}
.special .wrap-2 {
  margin-top: 7rem;
}
.special .wrap-2 li:nth-child(1) {
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .special .wrap-2 li:nth-child(1) {
    margin: 2rem 0 2rem 0;
  }
}
@media screen and (max-width: 768px) {
  .special .wrap-2 li {
    margin: 2rem 0 2rem 0;
  }
}
.special .wrap-title {
  background-color: #222222;
}
.special .obj-decorate {
  height: 31.3rem;
}
@media screen and (max-width: 1024px) {
  .special .obj-decorate {
    height: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .special .obj-decorate {
    height: 0;
  }
}

/*========
	wrap
========*/
.wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .wrap {
    flex-wrap: wrap;
  }
}
.wrap li {
  width: 100%;
  position: relative;
}
.wrap li img {
  width: 100%;
}
.wrap li .wrap-title {
  width: 100%;
  padding: 3rem;
}
.wrap li .wrap-title .title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  color: #eeeeee;
  letter-spacing: 0.3rem;
}
.wrap li .wrap-title .contain-text {
  font-size: 1.6rem;
  color: #eeeeee;
  letter-spacing: 0.1rem;
}
.wrap-img {
  position: relative;
  width: 100%;
}
.wrap-w {
  width: 100%;
}

.wrap-3 li {
  max-width: 36rem;
}
@media screen and (max-width: 768px) {
  .wrap-3 li {
    max-width: 100%;
    margin: 2rem 0;
  }
}

.wrap-2 li {
  max-width: 55rem;
}
@media screen and (max-width: 768px) {
  .wrap-2 li {
    max-width: 100%;
    margin: 2rem 0;
  }
}

.wrap-3-4 li:nth-child(1) {
  max-width: 60%;
}
@media screen and (max-width: 768px) {
  .wrap-3-4 li:nth-child(1) {
    max-width: 100%;
  }
}
.wrap-3-4 li:nth-child(2) {
  max-width: 40%;
}
@media screen and (max-width: 768px) {
  .wrap-3-4 li:nth-child(2) {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .wrap-3-4 li {
    margin: 1rem 0;
  }
}
.wrap-3-4.reverse {
  flex-direction: row-reverse;
}
.wrap-3-4.reverse li:nth-child(2) {
  max-width: 60%;
}
@media screen and (max-width: 768px) {
  .wrap-3-4.reverse li:nth-child(2) {
    max-width: 100%;
  }
}
.wrap-3-4.reverse li:nth-child(1) {
  max-width: 40%;
}
@media screen and (max-width: 768px) {
  .wrap-3-4.reverse li:nth-child(1) {
    max-width: 100%;
  }
}

/*========
	message
========*/
.message {
  margin: 18rem 0;
}
@media screen and (max-width: 1024px) {
  .message {
    margin: 8rem 0;
  }
}
@media screen and (max-width: 768px) {
  .message {
    margin: 2rem 0;
    padding: 0 2rem;
  }
}
.message .wrap-3-4 .contain-text--big {
  position: relative;
  margin-left: -0.5rem;
  margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
  .message .wrap-3-4 .contain-text--big {
    font-size: 3rem;
  }
}
/*========
	business
========*/
.work .under-background, .business .under-background {
  max-width: 68%;
  height: 55rem;
  background-color: #222;
}
@media screen and (max-width: 768px) {
  .work .under-background, .business .under-background {
    max-width: 100%;
  }
}
.work .wrap-3-4, .business .wrap-3-4 {
  max-width: 1400px;
  margin: 0 auto;
  padding: 6.5rem 0;
}
@media screen and (max-width: 768px) {
  .work .wrap-3-4, .business .wrap-3-4 {
    padding: 2rem;
  }
}
.work .wrap-3-4 li .sub-heading, .work .wrap-3-4 li .sub-title, .work .wrap-3-4 li p, .business .wrap-3-4 li .sub-heading, .business .wrap-3-4 li .sub-title, .business .wrap-3-4 li p {
  color: #eee;
}
.work .wrap-3-4 li .more-button, .business .wrap-3-4 li .more-button {
  margin-top: 3rem;
}
.work .wrap-3-4 li:nth-child(1), .business .wrap-3-4 li:nth-child(1) {
  max-width: 45%;
  padding: 3rem 8rem 3rem 10rem;
}
@media screen and (max-width: 1024px) {
  .work .wrap-3-4 li:nth-child(1), .business .wrap-3-4 li:nth-child(1) {
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .work .wrap-3-4 li:nth-child(1), .business .wrap-3-4 li:nth-child(1) {
    max-width: 100%;
    padding: 0;
  }
}
.work .wrap-3-4 li:nth-child(2), .business .wrap-3-4 li:nth-child(2) {
  max-width: 55%;
  padding-right: 10rem;
}
@media screen and (max-width: 1024px) {
  .work .wrap-3-4 li:nth-child(2), .business .wrap-3-4 li:nth-child(2) {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .work .wrap-3-4 li:nth-child(2), .business .wrap-3-4 li:nth-child(2) {
    max-width: 100%;
    padding: 0;
  }
}

.business .under-background {
  right: 0;
}
.business .wrap-3-4.reverse li:nth-child(2) {
  padding-right: 0rem;
  padding-left: 12.5rem;
}
@media screen and (max-width: 1024px) {
  .business .wrap-3-4.reverse li:nth-child(2) {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .business .wrap-3-4.reverse li:nth-child(2) {
    padding: 0;
  }
}
.work {
  margin-top: 18rem;
}
@media screen and (max-width: 768px) {
  .work {
    margin-top: 4rem;
  }
}

/*========
	footer
========*/
.footer {
  margin-top: 18rem;
  background-color: #efefef;
  padding-top: 4.5rem;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: 4rem;
    padding-top: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .working-env {
    padding: 0 2rem;
  }
}
.working-env .heading-title {
  margin: 5rem 0;
}
@media screen and (max-width: 768px) {
  .working-env .heading-title {
    margin: 2rem 0;
  }
}
.working-env .wrap li div {
  position: relative;
}
.working-env .wrap li .sub-title {
  font-size: 2.4rem;
}
.working-env .wrap li .contain-text--small {
  letter-spacing: 0.15rem;
}
@media screen and (max-width: 1024px) {
  .working-env .wrap li:first-child {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .working-env .wrap li:first-child {
    margin: 0;
  }
}

.em-info {
  width: 100%;
  padding-top: 5.5rem;
}
@media screen and (max-width: 768px) {
  .em-info {
    padding: 0 2rem;
  }
}
.em-info .heading-title {
  margin: 5rem 0;
}
.em-info .wrap {
  padding: 0 6rem;
}
@media screen and (max-width: 768px) {
  .em-info .wrap {
    padding: 0;
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 767px) {
  .em-info .wrap {
    flex-wrap: wrap;
  }
}
.em-info .wrap li {
  text-align: center;
}
.em-info .wrap li:hover {
  opacity: 0.8;
}
.em-info .wrap li .sub-title {
  font-size: 2.4rem;
}
.em-info .wrap li .circle-icon {
  width: 20rem;
  height: 20rem;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  position: relative;
}
.em-info .wrap li .circle-icon img {
  width: 5rem;
  height: 6rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
}

.link-footer {
  width: 100%;
  margin-top: 8rem;
  background-color: #222;
}
.copy-right {
  width: 100%;
  height: 5.5rem;
  background-color: #fff;
  text-align: center;
}
.copy-right span {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 5.5rem;
  color: #383639;
  letter-spacing: 0.2rem;
}
@media screen and (max-width: 768px) {
  .copy-right span {
    line-height: 2.2rem;
    padding-top: 1rem;
    display: inline-block;
  }
}

.menu-warp {
  width: 100%;
}
.menu-warp .link-footer {
  background-color: transparent;
  margin-top: 10rem !important;
}
@media screen and (max-width: 768px) {
  .menu-warp .link-footer {
    margin-top: 6rem !important;
  }
}
.menu-warp .link-footer .dropdown {
  padding: 0;
}
.menu-warp .link-footer .dropdown h3 {
  font-weight: bold;
  color: #fff;
  font-size: 2.2rem;
}
.menu-warp .link-footer .dropdown .toggle-div {
  padding: 0 2rem;
}

/*# sourceMappingURL=main.css.map */
