@charset "UTF-8";
@import 'functions_responsive.scss';
@import 'assets/variables.scss';

*{
    box-sizing: border-box;
}

body {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
    padding: 0 10rem;
    @media screen and (max-width: 768px) {
        font-size: 1.4rem;
    }
    @media screen and (max-width: 768px) {
        padding: 0;
    }
}

html {
  scroll-behavior: smooth;
}

body>main {
    -ms-overflow-x: hidden;
}

@supports (-ms-ime-align: auto) {
    body>main {
        overflow: hidden;
    }
}

/*========
    link 
========*/
.a--link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

/*========
    scroll
========*/
.a--scroll{
    width: .2rem;
    height: 10rem;
    background-color: #383639;
    position: absolute;
    transform: translateY(50%);
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 120;
    animation: ascroll 1.5s infinite;
    text-decoration: none !important;
    @include ipadpro{
        height: 4rem;
    }
    @include mobile{
        height: 1.4rem;
        width: 1.4rem;
        background-color: transparent;
        border-right: .2rem solid #383639;
        border-bottom: .2rem solid #383639;
        border-top: none;
        border-left: none;
        transform: rotate(45deg);
    }
    &::before{
        font-family: 'Oswald', sans-serif;
        font-size: 1.6rem;
        color: #383639;
        min-width: max-content;
        transform: translateX(-50%);
        display: block;
        position: absolute;
        left: 0;
        top: -3rem;
        @media only screen and (min-width: 769px){
            content: 'SCROLL';
        }
    }
}
@keyframes ascroll {
  0%{
    bottom: 0;
    opacity: 1;
  }
  60%{
    bottom: -15%;
  }
  80%{
    bottom: -15%;
    opacity: 0;
  }
  100%{
    opacity: 0;
    bottom: 0;
  }
}

/*========
    play
========*/
.a--play{
    width: 11.5rem;
    height: 11.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    margin: 0 auto;
    z-index: 120;
    text-decoration: none !important;
    @include mobile{
        width: 6rem;
        height: 6rem;
    }
    &::before{
        content: '';
        border-left: 2.2rem solid #7a7a78;
        border-top: 2.2rem solid transparent;
        border-right: none;
        border-bottom: 2.2rem solid transparent;
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translateY(-50%);  
        @include mobile{
            border-left: 2.2rem solid #7a7a78;
            border-top: 1.2rem solid transparent;
            border-bottom: 1.2rem solid transparent;
        }  
    }
}

/*========
    heading
========*/
.heading{
    font-size: 6.4rem;
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: table;
    @include mobile{
        font-size: 3.5rem;
    }
}

.heading-title{
    font-size: 3.6rem;
    margin: 0 3rem;
    font-weight: bold;
    letter-spacing: .5rem;
    display: inline-block;
    position: relative;
    @include mobile{
        font-size: 2.4rem;
    }
}
/*========
    sub-heading
========*/
.sub-heading{
    h3{
        font-size: 2.4rem;
        font-family: 'Oswald', sans-serif;
        padding-bottom: 3rem;
        position: relative;
        display: table;
        letter-spacing: .3rem;
        &::after{
            content: '';
            width: 2rem;
            height: .4rem;
            background-color: #c01920;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}
.sub-title{
    font-weight: bold;
    font-size: 3.6rem;
    margin: 3rem 0;
    display: block;
    letter-spacing: .5rem;         
}
/*========
    collapse button
========*/
.collapse-button{
    display: flex;
    padding: .5rem;
    height: 3rem;
    cursor: pointer;
    .hambuger--list{
        width: 2rem;
        height: 2rem;
        padding-left: .4rem;
        display: flex;
        flex-direction: column;
        li{
            width: .8rem;
            height: .2rem;
            background-color: white;
            margin: .1rem;
            position: relative;
            &::before{
                content: ''; width: .2rem; height: .2rem; background-color: white; position: absolute; top: 0; left: -.4rem;
            }
        }
    }
}
/*========
    rect button
========*/
.rect-button{
    width: 5rem;
    height: 5rem;
    background-color: #c01920;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .3s ease;
    span{
        width: 1.5rem;
        height: .2rem;
        background-color: white;
        position: relative;
        &::after{
            content: '';
            width: 1rem;
            height: 1rem;
            border-right: .2rem solid white;
            border-top: .2rem solid white;
            transform: rotate(45deg);
            position: absolute;
            top: -.4rem;
            right: 0;
        }
    }
    &:hover{
        opacity: .8;
    }
}
/*========
    object decorate
========*/
.obj-decorate{
    width: 100%;
}
/*========
    under background
========*/
.under-background{
    width: 100%;
    position: absolute;
    z-index: -1;
}
/*========
    contain-text
========*/
.contain-text--big{
    font-size: 4.8rem;
    font-weight: bold;
    color: #383639;
    letter-spacing: .3rem;
    @include mobile{
        font-size: 3.2rem;
        letter-spacing: 0;
    }
}
.contain-text--small{
    font-size: 1.6rem;
    color: #383639;
    letter-spacing: .2rem;
    line-height: 2.5rem;
}
/*========
    more button
========*/
.more-button{
    position: relative;
    width: max-content;
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: 1rem;
    text-decoration: none !important;
    text-transform: uppercase;
    display: table;
    margin: 0 auto;
    border-bottom: .2rem solid white;
    &:hover{
        color: white;
        opacity: .8;
    }
}

/*========
    drop menu
========*/
.dropdown{
    width: 100%;
    padding: 4rem 0;
    @include mobile{
        padding: 2rem;
    }
    h3{
        font-size: 1.4rem;
        color: #eee;
        padding: 2rem 0;
        position: relative;
    }
    .wrap-w{
        padding-left: 2rem;
    }
    .wrap-w li{
        position: relative;
        padding: 1rem 0;
        color: #eee;
        font-size: 1.4rem;
        position: relative;
        overflow: hidden; 
        &:hover{
            opacity: .8;
        }
    }
}
/*========
    title -- main
========*/
@keyframes passing-bar {
  0%{
    width: 0%;
    left: 0%;
  }
  50%{
    width: 100%;
    left: 0%;
  }
  51%{
    width: 100%;
    left: 0%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

.passing-bar::before{
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    position: absolute;
    background-color: #c01920;
}
.passing-bar.move::before{
    animation: passing-bar 1s ease 0s 1 normal forwards;
}
/*========
    scrool
========*/


@media only screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 1rem;
    }
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #969696;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #c01920;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    // background-color: #c01920;
}